html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #172C39;
    overflow: hidden;
}

div {
    height: 100%;
    margin-top: 40%;
}

h1 {
    text-align: center;
    font-size: 24pt;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 10pt;
    margin: 0;
}